.container{
  display: flex;
}

.user-list{
  width: 30%;
}

.user-detail{
  margin-left: 20px;
  width: 70%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content-card{
  margin: 20px !important;
}

dt {
  font-weight: bold;
}

dl, dd {
  font-size: 0.9rem;
}

dd {
  margin-bottom: 1em;
}

